*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0f0f0;

}
.iconss {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
img .icimg {
    width: 51px;
    display: block;
    margin-top: 16px;
    
}
.iconss img{
    margin-top: 10px;
}
.navbar {
    /* background-color: #1a3d59 !important; */
   background-color:  rgba(0, 0, 0, 0.125) !important;
    z-index: 7;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}
.navbar .navbar-nav .nav-item .nav-link
{
    color: #fcfcfc;
    text-decoration: none;
    /* font-size: 18px; */
    margin: 20px 10px;
    padding: 8px 10px;
    font-weight: 600;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.navbar .navbar-nav .nav-item .nav-link:before
{
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    left: 5px;
    bottom: 0px;
    /* background: black; */
    opacity: 0.5;
    transition: all 0.3s;
    /* color: #000000; */
    /* border-radius: 6px; */
}

.navbar .navbar-nav .nav-item .nav-link:hover:before
{
    width: 90%;
    background-color: #000000;
}
.banner{
    position: relative;
   
}
 .banner-text{
    position: absolute;
    left: 40px;
    bottom: 5px;
    background: black;
    color: #fff;
    padding: 15px 40px;
}

.enquery-form{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.87);
  box-shadow: 0 -5px 5px -5px #333;
  padding: 15px 20px 12px;
  z-index: 1;
}
.enquery-form input{
    padding: 5px 20px;
    margin: 5px 0px;
  
}
.enquery-form .form-control{
    border-radius: 0px;
 }

.overview-section .col-md-12 ul li{
    font-size: 20px;
    line-height: 40px;
}
.sticky {
    background-color: rgb(240 241 244 / 95%) !important;
    /* background: linear-gradient(1deg, #4103ff, #cbb8b8); */
    /* background: linear-gradient(1deg, #ffffff, #ebe8e8); */
    /* position: fixed; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    top: 0px;
    width: 100%;
    padding: 10px;
    z-index: 5;
    transition: all 0.5s ease-out;
    
   }
   .sticky .navbar-nav .nav-item .nav-link{
    color: black;
   }
   .sticky .navbar-nav .navbar-brand{
    color: black !important;
   }
   
   .overview-section .global-heading{
       /* letter-spacing: 1px; */
   }
   .overview-section p{
       letter-spacing: 1px;
       font-size: 14px;
   }

   .price-list h1{
    font-weight: 700;
    text-decoration: underline;
    
   }

   .price-list img{
    height: 840px;
    width: 70%;
    margin: auto;
    border: 1px solid grey;
   }
        .feature-section .ameniti-box{
            margin: 10px 0px;
            text-align: center;
        }
.feature-section .ameniti-box img{
    height: 80px;
    width: 80px;
}
   .Gallary .col-md-4{
       margin: 10px 0px;
       
    }
    .Gallary .col-md-4 img{
       border: 3px solid black;
      border-radius: 5px;
      transition: all 0.3s ease-out;
   }
   
   .Gallary .col-md-4 img:hover{
    transform: scale(0.9);
   }


   .location-map .right{
    background-color: rgb(0, 0, 0);
   }
   .location-map .right h5{
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    font-size: 25px;
    
   }
   .location-map .right ul li{
    line-height: 45px;
    color: rgb(255, 255, 255);
    word-spacing: 1px;
    font-size: 18px;
   }
   .contact-us .col-md-12 form input,textarea{
    width: 100%;
    padding: 8px 10px;
    border-radius: 7px;
    border:1px solid gainsboro;
    margin-top: 5px;
    outline: none;
    
    
   }
   

   .footer{
    padding: 20px 0px;
    /* background-color: #1a3d59; */
    background-color: #3d3d3d;
   }
.footer h3{
    color: #fff;
    font-weight: 600;
}
   .footer .col-md-4 p a{
    list-style: none;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;
    list-style: none;
    text-decoration: none;
    
    
   }
 

.footer .col-md-4  p i {
  font-size: 18px;
  padding-right: 10px;
  text-decoration: none;
  color: #fff;
}

 
@media only screen and (max-width: 600px) {
    .navbar .navbar-brand{
        padding: 0px !important;
    }
    .feature-section .col-md-2 img{
        border: 2px solid black;
        border-radius: 10px;
        height: 250px;
        width: 250px;
 
    }
    .banner .banner-img img{
         height: 40vh;
    }
    .banner .enquery-form{
        position: relative;
        top: 0px;
        right: 0px;
        background-color: #adb5bd;
        margin: 0px 15px;
    }
    .overview-section .global-heading{
        font-size: 20px;
        font-weight: 600;
    }
    .overview-section .col-md-12 p{
        font-size: 16px;
    }
    .overview-section .col-md-12 ul li{
        font-size: 18px;
        line-height: 40px;
    }
    .price-list img{
        height: auto;
        width: 80%;
    }
    .overview-section p {
        letter-spacing: 1px;
        font-size: 13px;
    }
    .banner-text{
        display: none;
    }
    }

    @media (min-width: 770px) and (max-width: 1000px){
        .feature-section .col-md-2 img {
            border: 2px solid black;
            border-radius: 10px;
            height: 100px;
            width: 223px;
        }
    }

    @media (min-width: 1000px) and (max-width: 1100px){
        .navbar .navbar-nav .nav-item .nav-link {
            color: #000000;
            text-decoration: none;
            font: 20px;
            margin: 0px 5px;
            /* padding: 8px 10px; */
            position: relative;
            z-index: 0;
            cursor: pointer;
    }
    .navbar-brand{
        padding: 0px 35px !important;
    }
}

@media (min-width: 1100px) and (max-width: 1250px){
    .navbar-nav{
        /* margin-left: -37px;
        padding: 0px; */
    }
    .navbar .navbar-nav .nav-item .nav-link{
        padding: 5px 10px;
        margin: 15px 5px;
    }
}

@media (max-width: 400px){
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}}